@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
$edu-color: #ed9526;

body {
  transition: all 0.2s;
}
// mode
.dark {
  background-color: #1a1b22;
  color: #fff;
  //   nav-logo
  .navbar-brand__title {
    color: $edu-color !important;
    transition: 0.2s;
  }
  //   nav-links{
  .nav-link {
    color: #fff !important;
  }
  //   nav-btns
  .btn {
    color: #fff !important;
  }
  .btn-custom__fill {
    background-color: #2c2d39 !important;
  }
  .btn-custom__outlined {
    border-color: #2c2d39 !important;
  }
}
.light {
  .nav-link {
    color: #222222 !important;
    font-weight: 600;
  }
}

// img-wrapper
.img-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  .image {
    width: 90%;
    margin: auto;
  }

  .shapes {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
}
section {
  padding: 20vh 0;
}

// navbar-nav
// #ED9526
.nav-item {
  margin: 0 20px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  .btn {
    padding: 16px 24px !important;
    border-radius: 12px;
  }
  .btn-custom__fill {
    background-color: $edu-color;
    border: 1px solid #ffffff00;
    color: #fff;
  }
  .btn-custom__outlined {
    border-color: $edu-color;
    color: $edu-color;
  }

  /** navbar-nav__switch
 -------------------------------------*/

  .navbar-nav__switch input {
    position: absolute;
    opacity: 0;
  }

  /**
   * 1. Adjust this to size
   */

  .navbar-nav__switch {
    margin: 0 10px;
    display: inline-block;
    padding: 2px;
    font-size: 20px; /* 1 */
    height: 1.3em;
    width: 2.3em;
    border: 1px solid $edu-color;
    border-radius: 1em;
    & div {
      height: 1em;
      width: 1em;
      border-radius: 1em;
      background: $edu-color;
      transition: all 0.2s;
    }
  }

  .navbar-nav__switch input:checked + div {
    transform: translate3d(100%, 0, 0);
    background-color: #fff;
  }
}

// header
#header {
  h1 {
    margin-top: 15vh;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vh;
    span {
      color: $edu-color !important;
    }
  }
  .header__btn {
    img {
      width: 40%;
      height: auto;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    &:last-child {
      img {
        width: 50% !important;
      }
    }
  }
}

#feature_1 {
  .img-wrapper {
    width: 80%;

    .shapes {
      z-index: -2;
    }
  }

  .icon {
    width: 10%;
    img {
      width: 80%;
    }
  }
  .l-item {
    width: 90%;
  }
}

#feature_2 {
  padding: 0;
  .d-flex {
    justify-content: center;
    align-items: center;

    .img-side {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #b4b4b436;
      .image {
        width: 70%;
        margin: auto !important;
        img {
          width: 100%;
        }
      }
    }
  }
}

#feature_3 {
  height: 100vh;
  .img-wrapper {
    width: 90%;
    display: block;
    margin-bottom: 10vh;
  }
  .shapes {
    width: 90%;
    z-index: -1;
  }
  .title-side {
    display: flex;
    align-items: center;
  }
}

#testimonial {
  height: 100vh !important;
  text-align: center;

  // swipers
  .swiper {
    margin: 20px 0;
    width: 100%;
    height: 110%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // cards
  .swiper_card {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    text-align: left;
    background-color: #94949452;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card_img {
      width: 40%;
      border-radius: 50%;
      img {
        width: 90%;
        margin: auto;
      }
    }
    .card_content {
      width: 60%;
      padding: 20px;
    }
    .fw-bold {
      color: $edu-color !important;
    }
  }
}

#get_app {
  text-align: center;
  height: 80vh;
  .container {
    background-color: $edu-color;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    .shapes {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 120%;
      z-index: -1;
      margin-bottom: 20vh;
    }
    .content {
      img {
        width: 40%;
        height: auto;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:last-child {
        img {
          width: 50% !important;
        }
      }
    }
  }
}

#footer {
  background-color: #b4b4b436;
  padding: 5vh 0;

  .icons {
    padding: 20px 0 !important;
    list-style: none;
    display: flex;
    li {
      margin-right: 20px;
      padding-top: 5px;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;

      box-icon {
        transition: all 0.3s ease-out;
      }
      &:hover box-icon {
        transform: rotate(360deg);
        fill: $edu-color !important;
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      color: $edu-color !important;
    }
  }
}

// responsibility
@media (max-width: 680px) {
  section {
    padding: 10vh 0 !important;
  }
  .img-wrapper,
  .image {
    width: 60% !important;
  }

  .swiper_card {
    padding: 10px !important;
    .card_img {
      width: 60% !important;
    }
    .card_content {
      width: 90% !important;
    }
  }

  #features_1 {
    .features {
      padding: 2rem !important;
      li {
        .icon {
          width: 20% !important;
        }
      }
    }
  }
}
